/* Shared Style */

body {
    font-family: "Mulish";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-weight: 700;
    padding: 15px;
}

main {
    margin: 0 130px;
}

/* nav related styles */
nav {
    margin: 50px 125px 0 135px;

}

nav .desktop {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
}

.name img {
    margin-right: 15px;
}

.desktop h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.name span {
    color: #FF5400;
}

nav .menu ul {
    display: flex;
}

nav .menu ul li {
    list-style: none;
    margin-left: 44px;
    font-size: 1.125rem;
}

nav .menu span {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

nav .mobile {
    display: none;
}

/* nav style end */
/* explore related styles starts */

.explore {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 60%), url(../Images/Group-13.png);

    /* background-image: url(../Images/Group-13.png); */
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.explore-content h1 {
    padding-top: 100px;
    margin-bottom: 0;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.explore-content p {
    margin-top: 30px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.explore-form {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: space-between;
    margin: 50px 15%;
}

.explore-form input {
    padding: 16px;
    width: 140px;
    border-radius: 8px;
    border: 0;
}

.explore-form button {
    width: 140px;
    text-align: center;
}

/* popular tours related styles */
.popular-tour {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 50px auto;
}

.popular-text {
    max-width: 577px;
}

.popular-tour h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.popular-tour li {
    margin-top: 10px;
}

.popular-tour button {
    padding: 15px 35px;
    margin-top: 10px;
}

.popular-tour img {
    width: 100%;
}

/* destination related styles */

.destination-text {
    text-align: center;
}

.destination-text h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.destination .row {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.destination .row .image {
    position: relative;
}

.destination .row img {
    width: 100%;
    margin: 0;
}

.destination .row p {
    position: absolute;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* choose-us related styles */
.choose-us {
    margin-top: 50px;
    text-align: center;
}

.choose-us h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

.choose-us .card-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.choose-us .card {
    padding: 30px 50px 30px 30px;
    text-align: left;
}

.choose-us .hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us .service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-us .discount {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 25px auto;
    max-width: 573px;
}


/* deals related styles */
.deals-container {
    margin-top: 50px;
    position: relative;
}

.deals-container img {
    width: 100%;
}

.deals-text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.deals-text .deals-text-deadline {
    word-spacing: 10px;
}

.deals-text-title {
    color: #131318;
    font-size: 1.3rem;
    font-weight: 800;
}

.deals-text .mobile {
    display: none;
}

.deals-text-price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.deals-text .btn-primary {
    padding: 15px 25px;
}

.deals-container-two {
    margin-top: 50px;
    position: relative;
    height: 500px;
}

.deals-container-two img {
    width: 100%;
    height: 500px;
}

.deals-container-two .deals-text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

/* prefect-place related style */
.prefect-place {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.place-details {
    width: 100%;
}

.place-details h3 {
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
}

.place-details li {
    margin-top: 15px;
    color: #131318;
    font-weight: 700;
}

.place-details button {
    padding: 15px 40px;
    margin-top: 15px;
}

.place-video {
    position: relative;
    width: 100%;
}

.video-title {
    position: absolute;
    top: 13%;
    bottom: 18%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 20%;
    text-align: center;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);

}

/* newsletter-container related style */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 100px;
}

.newsletter-text {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 15px 40px;
}

.newsletter-text h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-text p {
    color: #5A5A5D;
    font-size: 1rem;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    padding-bottom: 15px;
}

.newsletter-text input {
    margin-top: 15px;
    width: 95%;
    padding: 16px 0px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.newsletter-text .btn-primary {
    margin-top: 25px;
    margin-bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-image {
    position: relative;
}

.newsletter-image img {
    width: 100%;
    margin: 0;
}

.newsletter-image p {
    position: absolute;
    /* top: 50%; */
    /* bottom: 10%;
    left: 44%; */
    transform: translate(95%, -180%) rotate(-20.628deg);

    border-radius: 16px;
    background: #FF5400;
    padding: 20px 30px;
    max-width: 320px;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
}

.newsletter-image span {
    font-size: 2rem;
    font-weight: 800;
}

/* footer related style */
footer {
    margin-top: 70px;
    padding: 50px 0;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

footer .name {
    display: flex;
    justify-content: center;
}

footer .icon {
    margin-top: 30px;
    letter-spacing: 15px;
}

footer .line {
    margin: 50px auto;
    max-width: 870px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

footer .copy {
    font-weight: 300;
}

/* style for mobile */
@media screen and (max-width:600px) {
    nav {
        margin: 0 20px;
        padding: 0;
    }

    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .name img {
        margin-right: 10px;
        width: 15%;
    }

    main {
        margin: 0 20px;
    }

    /* explore related styles */
    .explore {
        background-size: cover;
        border-radius: 16px;
        height: 450px;
    }

    .explore-content h1 {
        padding-top: 30px;
        font-size: 1.35rem;
    }

    .explore-content p {
        margin: 10px 20px;
        font-size: 0.85rem;
    }

    .explore-form {
        flex-direction: column;
        margin: 10px 25px;
        align-items: center;
        gap: 20px;
    }

    .explore-form input {
        padding: 16px;
        margin: 0;
        width: 230px;
        align-items: center;
    }

    .explore-form button {
        padding: 15px;
        width: 260px;
        text-align: center;
    }

    /* popular tours related styles */
    .popular-tour {
        display: flex;
        flex-direction: column;
    }

    /* destination related styles */
    .destination .row {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .destination .row .image {
        margin-top: 15px;
    }

    .destination .row img {
        max-height: 176px;
    }

    .destination .row p {
        font-size: 1.2rem;
        font-weight: 700;

    }

    /* choose-us related styles */
    .choose-us .card-container {
        display: flex;
        flex-direction: column;
    }

    /* deals related styles */
    .deals-container img {
        border-radius: 16px;
        height: 500px;
        object-fit: cover;
    }

    .deals-container-two img {
        border-radius: 16px;
        height: 500px;
        object-fit: cover;
    }

    .deals-text {
        margin: 0;
        /* text-align: justify; */
        top: 65%;
        left: 12%;
        transform: translate(-7%, -55%);
        padding: 25px;
    }

    .deals-text .desktop {
        display: none;
    }

    .deals-text .mobile {
        display: contents;
    }

    .deals-text .deals-text-deadline {
        word-spacing: 10px;
    }


    .deals-container-two {
        margin-top: 50px;
        position: relative;
        height: 500px;
    }

    .deals-container-two .deals-text {
        margin: 0;
        top: 65%;
        left: 12%;
        transform: translate(-7%, -55%);
        padding: 25px;
    }

    /* prefect-place related style */
    .prefect-place {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .place-details {
        padding: 0 10px;
        max-width: 100%;
    }

    /* newsletter-container related style */
    .newsletter-container {
        display: flex;
        flex-direction: column;
    }

    .newsletter-image img {
        width: 100%;
        /* height: 400px; */
        margin: 0;
    }

    .newsletter-image p {
        position: absolute;
        transform: translate(50%, -180%) rotate(-20.628deg);
        max-width: 220px;
        padding: 10px;
    }

}